*{margin:0;padding:0}
body{
	background-color:#000;
	
}

.wrap{
margin-bottom:20px;
}
 .full_wrap{
	 
}
img{
	width:100%
}
.img_divider {
    width: 95%;
    margin: auto;
    height: 30px;
    background: #0ba0f9;
}
h2 {
	color:#0aec6d;
	padding:20px;
	text-align:center;
}
 p{
	 padding:20px;
	 text-align:justify;
	 font-size:30px;
 }
 h4{
	padding:20px;
	 color:#150851;
	 text-align:justify;
	 font-size:30px;
 }	 
 